*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}

body{
    background-image: linear-gradient(45deg  
    ,#1ec6ff, #edaa7c);
    background-size: 500%;
    animation: fanimado 20s infinite; 
}

@keyframes fanimado{
0%{
    background-position: 0% 50%;
}
50%{
    background-position: 100% 50%;
}
100%{
    background-position: 0% 50%;
}


}

